@font-face {
    font-family: awesomefont;
    src: url('fontawesome-webfont.eot');
    src: local('☺'), url('fontawesome-webfont.woff') format('woff'), url('fontawesome-webfont.ttf') format('truetype'), url('fontawesome-webfont.svg') format('svg');
}

::-webkit-scrollbar {
    width: 12px;
    background: linear-gradient(0deg, white, #333 80%);
}
 
::-webkit-scrollbar-track {
    background: white;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.awesomefont {
    font-family: awesomefont;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    cursor: default;
}

.boarder {
    background: #333;
    position: fixed;
    top: 0;
    height: 40px;
    left: 0;
    right: 0;
    z-index: 30;
    -webkit-app-region: no-drag;
}
.button {
    -webkit-app-region: no-drag;
}
.header {
    -webkit-app-region: drag;
    height: 35px;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 100;
}
    .header .left {
        height: 40px;
        width: 40px;
        left: 0;
        position: fixed;
    }
        .header .left img {
            height: 100%;
            width: 100%;
        }
    .header .middle {
        padding-left: 10px;
        padding-right: 10px;
        left: 40px;
        position: absolute;
    }
    .header .right {
        right: 0;
        top: 5px;
        position: absolute;
        display: flex;
    }
        .header .right .button {
            width: 40px;
            font-size: 20px;
            text-align: center;
        }

#exit {
    display: none;  
}

.ui-msg {
    height: 40px;
    background: #464646;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
}
    .ui-msg .left {
        left: 0;
        padding-left: 10px;
        position: absolute;
    }
    .ui-msg .right {
        right: 0;
        position: absolute;
        display: flex;
    }
        .ui-msg .right .button {
            width: 40px;
            font-size: 20px;
            text-align: center;
        }

.body {
    overflow-x: hidden;
    top: 40px;
    left: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 0;
    background: white;
    position: absolute;
}

.settings {
    overflow-x: hidden;
    background: lightgray;
    top: 40px;
    left: 100%;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 20;
}
    .settings div {
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        display: flex;
        align-items: center;
    }
        .settings div .left {
            left: 0;
            width: 120px;
            position: absolute;
        }
        .settings div .right {
            right: 0;
            left: 120px;
            position: absolute;
        }